<a target="_blank" href="http://www.linkedin.com/in/danilosanchi/en">{% spaceless %}
    {% image '@DanMainBundle/Resources/public/images/icons/Linkedin_48px.png'
        output='/images/icons/Linkedin_48px.png' %}
        <img src="{{ asset_url }}" alt="Linkedin" title="Linkedin"/>
    {% endimage %}
{% endspaceless %}</a> 
<a target="_blank" href="https://github.com/danielsan80">{% spaceless %}
    {% image '@DanMainBundle/Resources/public/images/icons/Github_48px.png'
        output='/images/icons/Github_48px.png' %}
        <img src="{{ asset_url }}" alt="Github" title="Github"/>
    {% endimage %}
{% endspaceless %}</a> 
<a target="_blank" href="https://twitter.com/danielsan80">{% spaceless %}
    {% image '@DanMainBundle/Resources/public/images/icons/Twitter_48px.png'
        output='/images/icons/Twitter_48px.png' %}
        <img src="{{ asset_url }}" alt="Twitter" title="Twitter"/>
    {% endimage %}
{% endspaceless %}</a> 
<a target="_blank" href="http://blog.danilosanchi.net">{% spaceless %}
    {% image '@DanMainBundle/Resources/public/images/icons/Wordpress_48px.png'
        output='/images/icons/Wordpress_48px.png' %}
        <img src="{{ asset_url }}" alt="Blog" title="Blog"/>
    {% endimage %}
{% endspaceless %}</a> 
<a target="_blank" href="http://www.slideshare.net/danielsan80">{% spaceless %}
    {% image '@DanMainBundle/Resources/public/images/icons/Slideshare_48px.png'
        output='/images/icons/Slideshare_48px.png' %}
        <img src="{{ asset_url }}" alt="Slideshare" title="Slideshare"/>
    {% endimage %}
{% endspaceless %}</a>